{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}
{% block breadcrumb %}
      <li class="breadcrumb-item active">Boards</li>
{% endblock %}
{% block content %}
      <table class="table" border="1.5">
          <thead class="thead-dark">
              <tr>
                  <th scope="col">Board</th>
                  <th scope="col">Topics</th>
                  <th scope="col">Posts</th>
                  <th scope="col">LastPosts</th>
              </tr>
         </thead>
         <tbody>
              {% for board in response %}
               <tr>
                  <td>
                      <a href="{% url 'board_topics' board.id%}">{{board.name}}</a><br>
                       <small style="#888">{{board.description}}</small>
                  </td>
                  <td>{{board.topics.count}}</td>
                  <td>{{board.get_post_count}}</td>
                   <td class="align-middle">
            {% with post=board.get_last_post%}
               {% if post %}
              <small>
                <a href="{% url 'topic_posts' board.id post.topic.id %}">
                  By {{ post.created_by.username }} at {{ post.created_at }}
                </a>
              </small>
                {% else %}
                <small class="text-muted">
                  <em>No posts yet.</em>
                    </small>
                 {% endif %}
            {% endwith %}
          </td>

                </tr>
             {% endfor %}
             </tbody>
             </table>
     {% endblock %}